<nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
  <nb-card-body>
    <div class="container">
      <div class="row">
        <nb-select (selectedChange)="changePaginationSelected($event)"
                   [(selected)]="paginationSelected"
                   class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3 bsnode-list_qtypager"
                   outline
                   placeholder="{{paginationSelected}}"
                   size="small">
          <nb-option value="10">10</nb-option>
          <nb-option value="25">25</nb-option>
          <nb-option value="50">50</nb-option>
          <nb-option value="100">100</nb-option>
        </nb-select>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 mt-2 ">
        </div>
        <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 ">
          <button (click)="goToCreate()" nbButton> Crear</button>
        </div>
      </div>
    </div>
    <div class="mt-1">
      <ngx-datatable
        [columnMode]="ColumnMode.force"
        [footerHeight]="50"
        [headerHeight]="50"
        [limit]="paginationSelected"
        [rowHeight]="50"
        [rows]="rows"
        [selectionType]="SelectionType.checkbox"
        class="material tableStyle"
        id="complete-table"
      >
        <ngx-datatable-column name="Nombre" prop="name">
          <ng-template let-row="row" let-rowIndex="name" ngx-datatable-cell-template>
            <div (click)="update(row.id)" style="display: grid; line-height: 0.5rem; cursor: pointer;">
              <h6 class="m-0" style=" font-weight: 500; font-size: 14px; font-family: Exo;"><b>
                {{row.name}}</b></h6>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Especie" prop="specie">
          <ng-template let-row="row" let-rowIndex="specie" ngx-datatable-cell-template>
            {{row.specie}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Edad" prop="age">
          <ng-template let-row="row" let-rowIndex="age" ngx-datatable-cell-template>
            {{row.age}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Genero" prop="gender">
          <ng-template let-row="row" let-rowIndex="gender" ngx-datatable-cell-template>
            {{row.gender}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Opciones">
          <ng-template let-row="row" let-rowIndex="action" ngx-datatable-cell-template>
            <button (click)="setGender(row.id, row.gender)" nbButton size="tiny">Cambiar genero</button>
            <button (click)="delete(row.id)" nbButton  size="tiny">Eliminar</button>
          </ng-template>
        </ngx-datatable-column>
        >
      </ngx-datatable>
    </div>
  </nb-card-body>
</nb-card>
