@import '../@theme/styles/themes';

@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}

@include nb-install-component() {
  /*
  * TODO: hot fix, in prod mode popover arrow has wong style.
  * Delete this after weill be fixed https://github.com/akveo/nebular/issues/1006
  */
  $popover-border-width: calc(#{nb-theme(popover-arrow-size)} - 2px);

  ::ng-deep nb-popover, ::ng-deep nb-datepicker-container {
    .arrow {
      &::after {
        border-left-width: $popover-border-width;
        border-right-width: $popover-border-width;
        border-bottom-width: $popover-border-width;
      }
    }
  }
  // FIx ngx-datatable
  ::ng-deep .ngx-datatable {
    &.material {
      box-shadow: none !important;
      background: nb-theme(layout-table-material);

      ::ng-deep datatable-header-cell {
        background: nb-theme(layout-table-material);
        color: nb-theme(table-material-text-color);
      }

      ::ng-deep datatable-body-cell {
        color: nb-theme(table-material-text-color) !important;
      }

      datatable-footer {
        color: nb-theme(table-material-text-color) !important;
      }

      datatable-pager a, datatable-pager i {
        color: nb-theme(table-material-text-color) !important;
      }
    }
  }
  ::ng-deep {
    &.ngx-datatable {
      &.material {
        &:not(.cell-selection) .datatable-body-row:hover,
        &:not(.cell-selection) .datatable-body-row:hover .datatable-row-group {
    //      background: nb-theme(layout-table-row-material-hover);
        }
      }
    }
  }

  ::ng-deep .feedplan-selector_option {
    line-height: 1.25 !important;
    font-weight: 300 !important;
    font-size: 0.875rem !important;
    // text-transform: capitalize !important;
  }

  /* @media (max-width: 376px) {
     ::ng-deep .cdk-overlay-pane {
       top: 45px !important;
       right: 0 !important;
     }
   }*/
}
