@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }

  nb-sidebar.expanded.settings-sidebar {
    width: 8rem !important;

    ::ng-deep .main-container {
      width: inherit;
    }
  }

  .offline-sidebar {
    z-index: 1040 !important;

  }

  ::ng-deep .helper-dialog {
    height: 100% !important;
    @include media-breakpoint-down(is) {
      //   height: 100% !important;
    }
  }

  ::ng-deep nb-menu {
    .custom-active {
      nb-icon {
        color: #0095ff !important;
      }
      color: #0095ff !important;
    }
  }
  ::ng-deep .menu-item {
    text-align: left !important;
  }
}
