@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../styles/themes';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
  //  width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
  }

  nb-user {
    cursor: pointer;

    ::ng-deep .info-container {
      @include media-breakpoint-only(xs) {
        display: none !important;
      }
    }
  }

  ::ng-deep nb-search button {
    padding: 0 !important;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .sidebar-toggle {
      @include nb-ltr(padding-right, 1.25rem);
      @include nb-rtl(padding-left, 1.25rem);
      text-decoration: none;
   //   color: nb-theme(text-hint-color);

      nb-icon {
        font-size: 1.75rem;
      }

      @include media-breakpoint-down(is) {
        padding-right: 0.25rem !important;
      }
    }

    .logo {
      padding: 0 1.25rem;
      @media (max-width: 425px) {
        font-size: 1.25rem !important;

      }
      font-size: 1.5rem;
  //    @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
   //   @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
      white-space: nowrap;
      text-decoration: none;
      font-weight: 500;

      span {
        font-weight: 400;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }
    .user-action {
      border: none;
      padding: 0;
    }
  }

  @include media-breakpoint-down(is) {
    nb-select {
      display: none;
    }
  }
}
