<div class="header-container">
  <div class="logo-containter d-flex">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo p-2" (click)="goToHome()">
      <span>PPM</span>
     </a>
  </div>
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
</div>
<div class="header-container">
  <nb-actions class="d-flex flex-row-reverse" size="medium" [class.right]="position === 'normal'"
              [class.left]="position === 'inverse'">
    <nb-action *nbIsGranted="['view', 'user']">
      <nb-user
        [ngStyle]="{'cursor': 'pointer'}"
        [nbContextMenu]="userMenu"
        [name]="user?.name"
        [title]="user?.role"
        [picture]="user?.picture"

      >
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
