<span *ngIf="isDesktopDataTable" class="footer created-by d-flex flex-row justify-content-between">
  <div> Copyright © {{year}} <b><a class="created-by_hlink" href="#" target="_blank">ppm</a></b>.
    Derechos reservados.
  </div>
  <div>
    <b>Version:</b> {{version}}
  </div>
</span>

<span *ngIf="!isDesktopDataTable" class="created-by d-flex flex-row justify-content-between">
  <div> Copyright © {{year}} <b><a class="created-by_hlink" href="#" target="_blank">ppm</a></b>.
  </div>
  <div>
    v{{version}}
  </div>
</span>
