<ng-container>
  <form (ngSubmit)="newAnimal()" *ngIf="newAnimalForm" [formGroup]="newAnimalForm">
    <nb-card>
      <nb-card-body>
        <div class="form-row">
          <div class="form-group col col-md-6">
            <label [for]="name"> Nombre*</label>
            <input [ngClass]="{'form-control-danger': name.invalid && (name.dirty || name.touched) }" formControlName="name" fullWidth nbInput placeholder="Nombre" required
                   type="text">
            <div *ngIf="name.invalid && name.dirty && name.touched">
              <p *ngIf="name.errors.required" class="error-form-msg">Nombre requerido!</p>
              <p *ngIf="name.errors.minlength" class="error-form-msg">Nombre debe tener al menos 2 caracteres!</p>
              <p *ngIf="name.errors.maxlength" class="error-form-msg">Nombre debe tener menos de 50 caracteres!</p>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label [for]="specie">Especie*</label>
            <input formControlName="specie" fullWidth nbInput placeholder="Especie" type="text">
            <div *ngIf="specie.invalid && specie.dirty && specie.touched">
              <p *ngIf="specie.errors.required" class="error-form-msg">Especie requerido!</p>
              <p *ngIf="specie.errors.minlength" class="error-form-msg">Especie debe tener al menos 2 caracteres!</p>
              <p *ngIf="specie.errors.maxlength" class="error-form-msg">Especie debe tener menos de 50 caracteres!</p>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col col-md-6">
            <label [for]="gender"> Genero*</label>
            <nb-select [ngClass]="{'form-control-danger': gender.invalid && (gender.dirty || gender.touched) }" formControlName="gender" fullWidth placeholder="Seleccionar"
                       required>
              <nb-option value="female">Hembra</nb-option>
              <nb-option value="male">Macho</nb-option>
            </nb-select>
          </div>

          <div class="form-group col-md-6">
            <label [for]="specie">Edad*</label>
            <input formControlName="age" fullWidth nbInput placeholder="Edad" type="number">
          </div>
        </div>

      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body class="d-flex justify-content-around">
        <div class="button-container">
          <a [routerLink]="['/pages/animal/index/']" href="#" nbButton size="small" status="primary">Cancelar</a>
        </div>
        <div class="button-container">
          <button [disabled]="newAnimalForm.invalid" [nbSpinner]="loading" nbButton nbSpinnerMessage="" nbSpinnerSize="medium" nbSpinnerStatus="success"
                  size="small" status="info" type="submit">
            Guardar
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </form>
</ng-container>
